body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    width: 100%;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner {
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.letter {
    font-size: 2em;
    margin: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    user-select: none;
}

.letter:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

#result-message {
    font-size: 1.5em;
    margin-top: 20px;
    color: #ffffff;
}

.question-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.btn {
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

#answer-container {
    margin-top: 20px;
    text-align: center;
}

#user-answer {
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #667eea;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
}
